Skip to content This repository Search Pull requests Issues Gist @BansheeWin Sign out Unwatch 1 Star 0 Fork 0 BansheeWin/mod3wa Code Issues 0 Pull requests 0 Projects 1 Wiki Pulse Graphs Settings Branch: master Find file Copy pathmod3wa/DEV/JS/Module7/css/slider.css ad8e734 6 days ago @BansheeWin BansheeWin Module Javascript 1 contributor RawBlameHistory 74 lines (60 sloc) 973 Bytes * {
    box-sizing: border-box;
}

a {
    color: #2A8782;
    text-decoration: none;
    transition: text-shadow 0.25s;
}

a:hover {
    text-shadow: 0 0 4px grey;
}

body {
    margin: 0 auto;
    width: 80%;
    background: url('../images/concrete_seamless.png') repeat;
}

body,
button {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #015770;
    letter-spacing: 0.1em;
}

header {
    padding-bottom: 2em;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: inline-block;
}

.hide {
    display: none;
}

#preview {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    opacity: .5;
    margin-left: 20px;
    float: right;
}

#preview img {
    width: 200px;
    height: 200px;
}

.slider {
    margin: 0 auto;
    text-align: center;
}

.slider figcaption {
    color: #2A8782;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 0 10px grey;
}

.slider img {
    background-color: white;
    padding: 1em;
    border-radius: 6px;
    box-shadow: 0 0 8px black;
}

.toolbar {
    transition: all 2s;
}

.toolbar ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.toolbar ul li {
    display: inline-block;
}

.toolbar ul li + li {
    margin-left: 1em;
}