h1 {
    font-family: Verdana;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: monospace;
}

tr {
    height: 30px;
}

td {
    width: 30px;
    border: 1px ridge #000000;
    text-align: center;
}

table {
    border: 1px ridge #000000;
    border-collapse: collapse;
}