* {
    box-sizing: border-box;
    outline: none;
}

h1,
nav {
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    margin:2%;
    font-weight: lighter;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: 1em;
    color: #556678;
}

header {
    background-image: url("../img/fond.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    width: 100%;
    padding-bottom: 190px;
    box-sizing: border-box;
    font-size: 1.3em;
}

nav {
    background-color: rgba(255, 255, 255, 0.25);
}

header p {
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    padding: 10px;
}

header p:hover {
    animation: masuperanimation 2s;
}

@keyframes masuperanimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(2);
    }
}

div {
    margin: 100px;
    width: 200px;
    height: 150px;
    background-color: #008;
}

div:hover {
    animation: masuperanimation 2s;
    /* On utilise "ma super animation" définie plus tôt */
}

a:hover {
    color: #877FC7;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px 50px 30px 70px;
    display: inline-block;
    vertical-align: middle;
}

nav a .fa {
    display: block;
}

header h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 2em;
    margin-top: 115px;
}

#cours {
    margin: 30px 50px 100px 50px;
}

#cours h3 {
    text-align: center;
    padding: 10px 0px 20px 0px;
}

#cours img {
    width: 300px;
    height: auto;
    padding: 0px 20px 40px 20px;
}

#cours article {
    line-height: 1.8;
    font-size: 0.85em;
}

hr {
    clear: both;
}

#prof {
    background-image: url("../img/background_section.jpg");
    background-size: cover;
    background-position: bottom;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#prof img {
    height: auto;
    width: 150px;
}

#prof article {
    color: white;
    width: 30%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding: 50px 20px 30px 100px;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 100;
}

#left {
    float: left;
}

#right {
    float: right;
}

iframe {
    width: 100%;
    height: 350px;
}

footer {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: #8B76D2;
    font-size: 13px;
}

#img3wa {
    height: 100px;
    width: 100px;
}

footer a {
    text-decoration: none;
    font-size: 1em;
}

hr {
    width: 90%;
}

h3 {
    text-align: center;
    font-weight: lighter; 
}

table {
    width: 90%;
    margin: 1% 5% 1% 5%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr,
td {
    border: 1px solid #DBDBDB;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

td a {
    text-decoration: none;
}

.td_left {
    text-align: left;
    padding: 10px;
}

.grey {
    background-color: #F2F2F2;
}

.lightgrey {
    background-color: #FAFAFA;
}

#th {
    text-align: left;
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    background-color: #C4A9DF;
    color: white;
    padding: 15px;
    border: none;
    font-size: 1.2em;
}

form {
    width: 90%;
    margin: 1% 5% 1% 5%;
    text-align: center;
    font-size: 11px;
    ;
}

form fieldset {
    text-align: center;
    margin-top: 2%;
    padding: 2% 2% 2% 1%;
}

fieldset legend {
    text-align: left;
    font-size:16px;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #556678;
    color: #556678;
    width: 10%;
    margin-right: 2%;
}

input[type=radio],
input[type=checkbox] {
    border: none;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
}

select {
    width: 90%;
    margin: 1% 1% 1% 1%;
    padding: 1% 0.5% 1% 0.5%;
    color: #556678;
}

#submit {
    color: white;
    background-color: #8B76D2;
    margin-top: 1%;
    padding: 9px;
    border: 0 none;
}