body {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

small {
    color: red;
    font-weight: bold;
}

#photo-list {
    padding-left: 0;
    width: 80%;
    list-style-type: none;
    margin: 0 auto;
}

#photo-list li {
    display: inline-block;
    margin: 1em;
    padding: 10px;
    border-radius: 15px;
    transition: transform 1s;
}

#photo-list li:hover {
    background-color: rgba(125, 125, 142, 1);
}

#photo-list li.selected {
    background-color: forestgreen;
}