body {
    margin: 0 auto;
}

small {
    color: red;
    font-weight: bold;
}

#photo-list {
    padding-left: 0;
    width: 800px;
    list-style-type: none;
}

#photo-list li {
    /*structure*/
    display: inline-block;
    margin: 1em;
    padding: 10px;
    /*presentation*/
    border-radius: 15px;
    transition: transform 2s;
}

#photo-list li:hover {
    background-color: rgba(125, 125, 125, 0.6);
    transform: scale(1.3);
}

#photo-list li.selected {
    background-color: forestgreen;
}