{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} - Accueil {% endblock %}

{% block body %}

    <img src="upload/{{ file|escape}}" width="200" height="200" >
<h2>Homepage</h2>
<h4>Bonjour {{ name |capitalize }} {{ firstName |capitalize }}</h4>
    {% block divForm %}
       <a href="index.php/flickr">Flickr</a>
       <a href="index.php/form">Ajout de photos</a>
    {% endblock %}

{% endblock %}

