/* GLOBAL */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline:none;
}
/* ** */
body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    line-height: 2;
    background-image: url('../img/bcg.jpg');
    background-size: 100%;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


/* NAVIGATION */

header {
    padding: 15px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}
header h1{
    text-align:center;
    padding:1px;
}
nav ul li {
    display: inline-block;
}

nav img {
    display: inline-block;
}

nav ul li a {
    font-family: 'Ranga', cursive;
    color: black;
    font-size: 1.4em;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.25s linear 0s;
}

nav ul li a:hover {
    color: black;
    border-top: 1px solid black;
}

#new {
    float:left;
}


/* MAIN */

main h2 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    font-size: 1.5em;
    margin: 50px 0 25px;
    letter-spacing: 1px;
}

main h2 span {
    color: rgba(255, 255, 255, 0.7);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#articles {
    flex: 1;
    top: 15%;
    color: white;
}

.post {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;
    padding:10px;
    border-radius:20px;
}

.post p{
    text-align:left;
}

.post small{
    padding-right: 10px;
}

.post small a{
    text-decoration: none;
    color:white;
}

.post small a:hover{
    color:red;
}
#formcreate{
    margin-top:0;
    display:none;
}

#formcreate form{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    width:50%;
    text-align: center;
    color:white;
    justify-content: space-around;
}
#formcreate input[type=submit]{
    margin-top:5%;
    align-self:flex-end;
}

#formedit{
    margin-top:0;
}
#separate{
    width:100%;
	display: block;
	clear: both;
	padding: 0;
    margin:10px auto;
	border: 1px solid black;
	font-family: arial;
	text-align: center;
	font-size: 60px;
	line-height: 1;
}

#formedit form{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    width:50%;
    text-align: center;
    color:white;
    justify-content: space-around;
}
#formedit input[type=submit]{
    margin-top:5%;
    align-self:flex-end;
}
#postCreateForm label{
    align-self:center;
}

#postlist{
    color:white;
    background-color:rgba(255,255,255,0.4);
    margin-top:1%;
    width:100%;
}
#postlist tr td {
    color:white;
    border:1px solid white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#postlist table{
    width:100%;
}
#singlePost{
    background-color:rgba(255,255,255,0.8);
    padding:5px;
    display:flex;
    flex-direction:column;
    margin-top: 2%;
}
#singlePost h2{
    margin:0;
    color:black;
}
#singlePost p{
    padding:20px;
    margin:0;
}
#singlePost small{
    align-self:flex-end;
    margin:0;
    padding-right:10px;
}
#comments{
    background-color:rgba(255,255,255,0.8);
    padding:5px;
}
.comment{
    background-color:rgba(255,255,255,0.8);
    border:0;
}
.comment legend{
    padding:5px;
}

.btn{
    border:1px solid black;
    text-decoration: none;
    background-color: black;
    color:white;
    padding:5px;
    border-radius:10px;
    align-self:flex-end;
    margin: 0 20px 10px 0;
}
#newcomment{
    width:50%;
    color:white;
    margin:0 auto;
    border-radius:10px;
    border-color:black;
    background-color:rgba(0,0,0,0.9);
}
#newcomment legend{
    padding:10px;
}
#newcomment form{
    display: flex;
    flex-direction:column;
    width:100%;
    justify-content: space-around;
    
}
#formcomment label{
    align-self:center;   
}
#formcomment input[type=submit]{
    margin-top:5%;
    align-self:flex-end;
}